.search-background img {
    width: 100%;
	}

.trans-searchbox {

  position: absolute;
  min-height: 20px;
  min-width: 400px;
  padding: 30px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  z-index: 80;
  top: 40%;
  right: 100px;
  background: rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.trans-searchbox label {
    color: #fff;
}

